@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,300;0,500;1,200&display=swap');

:root{
    --primary-color: #351f3d;
    --text-navbar: 'Poppins', sans-serif;
    --text-h2: 'Anton', sans-serif;
    --secondary-color: #617389;
    --tercery-color: #617389;
}

/* *{
    border: 1px solid red;
} */

body{
    overflow-x: hidden;
}

/* NABVAR */

.bg-danger{
    background-color: var(--primary-color)!important;
}

.navbar-nav{
    font-family: var(--text-navbar);
    font-weight: 300;
}

.sidebar-nav ul li a{
    text-decoration: none;
    
    display: block;   
    transition: 0.5s;
}

.sidebar-nav ul li a:hover {
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 4px;
}

.offcanvas {    
    background-color: #617389;
}


.sidebar-nav .offcanvas {
    width: 220px;
}

/* HEADER */

#cuerpoHeader {
    background-image: url(../img/img-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    padding: 20% 0%;
    
}

#cuerpoHeader .texto{
    font-family: 'Anton', sans-serif;
    text-shadow: 0.2em 0.2em rgb(0, 0, 0, 0.5);    
}

#cuerpoHeader hr{
    color: white;
    height: 2px;
    width: 300px;
}

@media (max-width: 768px){
    #cuerpoHeader hr{        
        width: 220px;
    }    
}

@media (max-width: 576px){
    #cuerpoHeader hr{        
        width: 170px;
    }    
}

#cuerpoHeader #position{
   background-color: rgba(0, 0, 0, 0.5);
   padding: 2rem 0rem;   
    
}

/* SOBRE MI */

#sobreMi h2{
    font-family: var(--text-h2);
}

#sobreMi #textoEstudio{
    font-family: var(--text-navbar);
    font-weight: 300;
}

#sobreMi #textoTrabajo{
    font-family: var(--text-navbar);
    font-weight: 300;
}

  /* DISENO INDUSTRIAL */

  .bg-primary {
      background-color: var(--secondary-color)!important;
      
  }

  #disenoIndustrial h2 {
      font-family: var(--text-h2);
  }

  #disenoIndustrial .row {
    font-family: var(--text-navbar);
}



  /* DISENO INDUSTRIAL CAROUSEL */

  

/* DISENOWEB */

#disenoWeb h2 {
    font-family: var(--text-h2);    
}

#disenoWeb .row{
    font-family: var(--text-navbar);
}

.btn-primary{
    background-color: var(--tercery-color);
}



/* CONTACTO */

#infoContacto{    
    /* margin-right: 58px;  */
    font-family: var(--text-navbar);   
}

/* #infoContacto h4{
    font-size: 2.25rem;
} */

@media (max-width: 768px){
    #infoContacto h3{
        width: 5%;
        height: auto;
        padding: 2px;
    }
}

#infohabilidades{
    background-color: rgba(97, 115, 137, 1);
    font-family: var(--text-h2);
    color: white;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    margin: auto 0 auto 0;
    
}

#infohabilidades .img-responsive{
    width: 3.45rem;
    height: auto;
    margin: 1rem;
}

#contacto h2{
    font-family: var(--text-h2);
}

/* FOOTER */

footer {
    background-color: var(--primary-color);
}

footer #icon a{
    text-decoration: none;
}