@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,300;0,500;1,200&display=swap');

:root{
    --primary-color: #351f3d;
    --text-navbar: 'Poppins', sans-serif;
    --text-h2: 'Anton', sans-serif;
}

*{
    border: 1px solid red;
}

/* NABVAR */

.bg-danger{
    background-color: var(--primary-color)!important;
}

.navbar-nav{
    font-family: var(--text-navbar);
    font-weight: 300;
}

.sidebar-nav ul li a{
    text-decoration: none;
    
    display: block;   
    transition: 0.5s;
}

.sidebar-nav ul li a:hover {
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 4px;
}

.offcanvas {    
    background-color: #617389;
}


.sidebar-nav .offcanvas {
    width: 220px;
}

/* HEADER */

#cuerpoHeader {
    background-image: url(../img/img-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    padding: 20% 0%;
    
}

#cuerpoHeader .texto{
    font-family: 'Anton', sans-serif;
    text-shadow: 0.2em 0.2em rgb(0, 0, 0, 0.5
    );    
}

#cuerpoHeader hr{
    color: white;
    height: 2px;
    width: 300px;
}

#cuerpoHeader #position{
   background-color: rgba(0, 0, 0, 0.5);
   padding: 2rem 0rem;   
    
}

/* SOBRE MI */

#sobreMi h2{
    font-family: var(--text-h2);
}

  

